node_modules/
apks/*
!apks/.gitkeep
docker/mindthegapps/
docker/mindthegapps.zip
.DS_Store
docker/ADBKeyboard.apk
backups/
server/location.json
server/certs/
docker/r8-*.jar
server/a11y.jar
server/sessions.json
server/sessions.json.tmp
