node_modules/
apks/*
!apks/.gitkeep
docker/mindthegapps/
docker/mindthegapps.zip
.DS_Store
docker/ADBKeyboard.apk
backups/
server/location.json
server/location-iphone.json
server/certs/
docker/r8-*.jar
server/helpers.jar
server/sessions.json
server/sessions.json.tmp
server/sessions-iphone.json
server/sessions-iphone.json.tmp
logs/
docker/gnss-build/
docker/overlay/vendor/bin/hw/android.hardware.gnss-service.kaios
/ios/
